* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $brand-font;
  color: $color-font-1;
  display: flex;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

input {
  border: 1px solid $brand-third-color;
  border-radius: $radius;
  padding: $base-size;
  box-shadow: 0 0px 0.5px 0.5px $color-background, 0 0px 0.5px 0.5px $color-background;
}

article {
  margin: ($base-size * 1) auto;
  background: $color-light;
  border-radius: $radius;
  justify-items: stretch;
  max-width: 95%;
  box-shadow: 0 4px 8px 0 $brand-third-color, 0 6px 20px 0 $brand-third-color;

  .header {
    height: 45px;
    border-bottom: 2px solid $color-background;
  }

  .subsection {
    padding: 40px 80px;
    border-bottom: 2px solid $color-background;
  }
}


/* Mixins */

@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@media(max-width: 767px) {
  @include grid('sm');
  .side-bar-menu {
    display: none;
  }

  .main-content-top {
    display: none;
  }

  .main-content {
    .mobile {
      display: block;
      margin-bottom: 10px;
      border-left: solid 1px $brand-third-color;

      .item {
        border-bottom: 1px solid $brand-third-color;
      }
    }
  }
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}

/* top bar */

.mobile { 
  display: none;
}

.side-bar-top {
  background-color: $color-dark;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;

  .page-name {
    font-family: $banner-font, cursive;
    color: $color-light;
    padding: 15px;
    margin: 0;
  }

  i {
    font-size: 18px;
    color: $color-light;
  }
}

.main-content-top {
  background-color: $color-light;
  border-bottom: 1px solid $brand-third-color;
  font-size: 15px;
  list-style: none;
  text-align: right;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .items {
    height: 100%;
    text-align: center;
    border-right: 1px solid $brand-third-color;
    flex-direction: row-reverse;
    
    .item {
      border-left: 1px solid $brand-third-color;
      padding: 15px 10px;
      vertical-align: middle;

      a {
        text-decoration: none;
        color: $color-font-1;
      }

      .link {
        color: #023e77;
        font-size: 12px;
      }

      img {
        fill: $color-light;
        height: 25px;
        width: 25px;
        padding: 5px 0;
        vertical-align: middle;
      }

      .small {
        height: 20px;
        width: 20px;
        padding-bottom: 5px;
      }
    } 
  }
}

/* side bar */

.side-bar-menu {
  background-color: $color-dark;
}

.links {
  padding: 0;

  ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    font-size: 12px;

    li {
      height: 40px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $color-hover;
        border-left: 4px solid orange;

        a {
          color: $color-light;
        }
      }

      img {
        fill: $color-light;
        height: 20px;
        width: 20px;
        margin-left: 15px;
      }

      a {
        text-decoration: none;
        color: $color-font-1;
        margin: 0;
        padding-left: 10px;

      }
    }
  }
}

.separate {
  border-bottom: 1px solid $brand-third-color;
}

.manager-info {
  h2 {
    font-variant: small-caps;
    color: $color-font-1;
    font-size: 15px;
  }

  .avatar {
    padding-right: 10px;

    img {
      height: 35px;
      width: 35px;
      margin-right: 5px;
      background-color: ivory;
      border-radius: 50%;
    }
  }


  p {
    color: $color-font-1;
    margin-top: 10px;
  }
}

/* main content */

.main-content {
  background-color: $color-background;
  text-decoration: none;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    fill: $color-light;
    height: 100%;
    width: 35px;
    padding: 10px;
    background-color: $brand-main-color;
    border-radius: $radius;
  }

  .button-refresh {
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
}

.statistics {
  .data-col {
    padding: 0 10px;
  }

  .stat-data {
    font-size: 14px;
    font-weight: bolder;
    justify-content: space-between;
    border-bottom: 2px solid $color-background;

    p {
      margin-bottom: 5px;
    }

    .value {
      color: $color-dark;
    }
  }

  .chart {
    padding-top: 40px;
    justify-content: start;
    font-size: 14px;
    font-weight: bolder;

    p {
      margin-bottom: 0px;
    }

    img {
      width: 100%;
    }
  }
}
