/* Colors */
$color-dark: #262626;
$color-light: #fdfdfd;
$color-background: #eeeeee;
$color-font-1: #aaa9a9;
$color-hover-dark: #696969;
$color-hover-light: #f6b05f;
$brand-main-color: #f08000;
$brand-second-color: #129397;
$brand-third-color: #cecece;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$banner-font: "Rochester";

$radius: 2px;
$base-size: 6px;